<section class="card">
  <div class="card-header">
    <p>Comment by {{user.username}} on {{comment_date}}</p>
  </div>
  <div class="card-body">
    <p class="card-text">{{comment_content}}.</p>
  </div>
</section>
