<section class="card">
  <div class="card-header">
    <h1></h1>
  </div>
  <div class="card-body">
    <p class="card-text">{{comment_content}}.</p>
    <p>Posted by {{username}} on {{post_date}}</p>
  </div>
</section>
