<section class="card">
  <div class="card-header">
    <h1>New Post</h1>
  </div>
  <div class="card-body form-signin">
    <form action="/api/login" method="post">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="postTitle" placeholder="Post Title">
        <label for="floatingInput">Post Title</label>
      </div>
      <div class="form-floating">
        <textarea id="floatingText" name="postContent" placeholder="Post Content"></textarea>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
  </div>
</section>
