<section class="card">
  <div class="card-header">
    <h1>No Posts Available</h1>
  </div>
  <div class="card-body">
    <p class="card-text">There are no post Available to be displayed on the page.</p>
  </div>
</section>
