/* Variables */
:root {
  --color1: #16697a;
  --color2: #db6400;
  --color3: #ffa62b;
  --color4: #f8f1f1;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--color4);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav h1 {
  margin-bottom: 0;
  flex-grow: 1;
  text-align: right;
  color: var(--color2);
}

nav ul {
display: flex;
align-items: center;
}

.nav-custom {
  color: var(--color2);
}

.nav-custom:hover {
  color: var(--color3);
}

section {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

section a {
  text-decoration: none;
  color: var(--color2);
}

section a:hover {
  text-decoration: none;
  color: var(--color3);
}

section a h3 {
  margin-bottom: 0;
}

section a h3:hover {
  color: var(--color3);
}

section h3 {
  margin-bottom: 0;
  color: var(--color2);
}

.card-text {
  margin-bottom: 0.5rem;
}

.bottom-text {
  margin-bottom: 0;
  font-size: 0.75rem;
}

input {
  margin-bottom: 0.5rem;
}

form button {
  margin-bottom: 0.5rem;
}

.dashboard-title {
  width: 100%;
}

.dashboard-title h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  color: var(--color2);
  position: relative;
  left: 5%;
}

textarea {
  width: 100%;
  border: solid 1px #bdc7c9;
  border-radius: 5px;
  padding: 0.5rem;
  height: 10rem;
}
